p{
    text-align: justify;
    color:black;
}
.fondologin{
    --ion-background-color: radial-gradient(circle at 47.02% 49.2%, #9bffff 0, #79f5f3 25%, #48e1e5 50%, #00cdd8 75%, #00bcce 100%);
    text-align: center}
p{
    text-align: justify;
    color: black;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
}



