.text{
    color: var(--ion-color-primary) !important;

}

.noticia-name{
    font-size: 12px;
    color:lightgray;
    text-align:justify
}

.noticia-description{
    text-align:justify
}
.fondologin{
    --ion-background-color: radial-gradient(circle at 47.02% 49.2%, #9bffff 0, #79f5f3 25%, #48e1e5 50%, #00cdd8 75%, #00bcce 100%);
    text-align: center}
    h2{
       color: black; 
    }